button {
    background-color: white;
    border: 1px solid #ff5757;
    border-radius: 10px;
}

input {
    font-size: 20px;
    text-align: center;
    border: 1px solid #ff5757;
    border-radius: 10px;
    width: 275px;
}

#logo {
    display: block;
    margin: auto;
}

#searchBar {
    text-align: center;
}

hr {
    border-top: 1px dashed #ff5757;
}

button:hover {
    background-color: #ff5757;
}

footer {
    color: #ff5757;
    text-align: center;
}

#content {
    text-align: center;
    font-size: 26px;
}

#nameError{
    text-align: center;
    color: #ff5757;
    font-size: 26px;
}

#notFound {
    font-size: 50px;
}